# pesquisa no google

In [1]:
#https://selenium-python.readthedocs.io/getting-started.html
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

# criar o navegador
navegar = webdriver.Chrome()

navegar.get('https://www.google.com/')
#pesquisar pelo sorteio atual
pesquisa ="sorteio da mega sena"

#um elemento apenas
#no site do google, na parte de preencher os dados, ir o inspecionar e copia pelo xpath
#colar sempre em aspas simples
navegar.find_element('xpath', '//*[@id="APjFqb"]').send_keys(pesquisa,Keys.ENTER)

<div class="TBlP9c"><div class="WCs5ab"><div class="Z30kQd"><div><div class="MDTDab"><span class="zSMazd UHlKbe" style="color:#202124;background-color:#81c995">03</span><span class="zSMazd UHlKbe" style="color:#202124;background-color:#81c995">07</span><span class="zSMazd UHlKbe" style="color:#202124;background-color:#81c995">11</span><span class="zSMazd UHlKbe" style="color:#202124;background-color:#81c995">35</span><span class="zSMazd UHlKbe" style="color:#202124;background-color:#81c995">38</span><span class="zSMazd UHlKbe" style="color:#202124;background-color:#81c995">56</span></div></div></div><div class="vKxALe"><div class="wc3X8d"><div><span class="M1C5je">Acumulada próximo concurso:</span> <span class="br1ue">R$&nbsp;83.000.000,00</span></div></div></div></div></div>

In [2]:
#pesquisar pelo sorteio
#pego a classe que seleciona todos os índices
elementos = navegar.find_elements("class name", "TBlP9c")

for item in elementos:
    print(item.text)

030711353856
Acumulada próximo concurso: R$ 83.000.000,00

In [3]:
#coletar de 2 em 2 
for item in elementos:
    print(item.text)
    lista_valor=item.text
    link2=item.get_attribute('TBlP9c')
    print(link2)

030711353856
Acumulada próximo concurso: R$ 83.000.000,00
None

In [4]:
print(lista_valor)
lista_valor_sep= lista_valor.split('\n')
print(lista_valor_sep)
print('valores sorteados')
print(lista_valor_sep[0][0:2], lista_valor_sep[0][2:4], lista_valor_sep[0][4:6], lista_valor_sep[0][6:8], lista_valor_sep[0][8:10], lista_valor_sep[0][10:12])
print(f'O que aconteceu: {lista_valor_sep[1]}')

030711353856
Acumulada próximo concurso: R$ 83.000.000,00
['030711353856', 'Acumulada próximo concurso: R$ 83.000.000,00']
valores sorteados
03 07 11 35 38 56
O que aconteceu: Acumulada próximo concurso: R$ 83.000.000,00

CÓDIGO DO TIPO DE CONCURSO

<div class="N6Sb2c i29hTd" aria-level="2" role="heading"><span class="GzssTd"><span>Mega-Sena</span></span><span class="kR7nSc">/</span><span class="qLLird"><span>Concurso 2703 (21/03/24)</span></span></div>

<span class="GzssTd"><span>Mega-Sena</span></span>

In [5]:
#pego a classe, novamente, que seleciona todos os índices
elementos_titulo = navegar.find_elements("class name", "GzssTd")

In [6]:
for item in elementos_titulo:
    print(item.text)
    titulo_tipo= item.text

Mega-Sena

In [7]:
#pego a classe, novamente, que seleciona todos os índices
elementos_titulo_numeracao = navegar.find_elements("class name", "qLLird")
for item in elementos_titulo_numeracao:
    print(item.text)
    numeracao_titulo_concurso= item.text

Concurso 2703 (21/03/24)

In [8]:
print('valores sorteados')
print(titulo_tipo,'≃>', numeracao_titulo_concurso)
print(lista_valor_sep[0][0:2], lista_valor_sep[0][2:4], lista_valor_sep[0][4:6], lista_valor_sep[0][6:8], lista_valor_sep[0][8:10], lista_valor_sep[0][10:12])
print(f'O que aconteceu: {lista_valor_sep[1]}')

valores sorteados
Mega-Sena ≃> Concurso 2703 (21/03/24)
03 07 11 35 38 56
O que aconteceu: Acumulada próximo concurso: R$ 83.000.000,00

# outra pesquisa

In [9]:
navegar.get('https://www.google.com/')
#pesquisar pelo sorteio atual
pesquisa ="sorteio da loto fácil"

#um elemento apenas
#no site do google, na parte de preencher os dados, ir o inspecionar e copia pelo xpath
#colar sempre em aspas simples
navegar.find_element('xpath', '//*[@id="APjFqb"]').send_keys(pesquisa,Keys.ENTER)

In [10]:
#pesquisar pelo sorteio
#pego a classe que seleciona todos os índices
elementos = navegar.find_elements("class name", "TBlP9c")

for item in elementos:
    print(item.text)
    lista_valor_loto= item.text

0204050708
1012131417
1921222425
Acumulada próximo concurso: R$ 1.700.000,00

In [11]:
print(lista_valor_loto)
lista_valor_loto_sep= lista_valor_loto.split('\n')
print(lista_valor_loto_sep)
print('valores sorteados')
print(lista_valor_loto_sep[0][0:2], lista_valor_loto_sep[0][2:4], lista_valor_loto_sep[0][4:6], lista_valor_loto_sep[0][6:8], lista_valor_loto_sep[0][8:10], lista_valor_loto_sep[0][10:12])
print(lista_valor_loto_sep[1][0:2], lista_valor_loto_sep[1][2:4], lista_valor_loto_sep[1][4:6], lista_valor_loto_sep[1][6:8], lista_valor_loto_sep[1][8:10], lista_valor_loto_sep[1][10:12])
print(lista_valor_loto_sep[2][0:2], lista_valor_loto_sep[2][2:4], lista_valor_loto_sep[2][4:6], lista_valor_loto_sep[2][6:8], lista_valor_loto_sep[2][8:10], lista_valor_loto_sep[2][10:12])
print(f'O que aconteceu: {lista_valor_loto_sep[3]}')

0204050708
1012131417
1921222425
Acumulada próximo concurso: R$ 1.700.000,00
['0204050708', '1012131417', '1921222425', 'Acumulada próximo concurso: R$ 1.700.000,00']
valores sorteados
02 04 05 07 08
10 12 13 14 17
19 21 22 24 25
O que aconteceu: Acumulada próximo concurso: R$ 1.700.000,00

<span class="cfBJGe pmZ66">Informações sobre o prêmio</span>

In [12]:
clicar_abrir_resposta = navegar.find_elements("class name", "cfBJGe pmZ66")

for botao in clicar_abrir_resposta:
    
    print(botao.text)

In [13]:
import time
#xpath
ver_resul= navegar.find_element(By.XPATH,'//*[@id="tsuid_30"]/g-more-link/div/span[2]/span[1]')
ver_resul.click()
time.sleep(5)

<tbody><tr class="L3XRR q2K6Pe"><th class="DhiO9b"></th><th>Acertos</th><th>Vencedores</th><th>Prêmio</th></tr><tr class="TElGnb" data-index="0"><td class="DhiO9b"></td><td class="KggPSb">15</td><td>8</td><td>R$&nbsp;658.002,39</td></tr><tr class="TElGnb" data-index="1"><td class="DhiO9b"></td><td class="KggPSb">14</td><td>974</td><td>R$&nbsp;675,07</td></tr><tr class="TElGnb" data-index="2"><td class="DhiO9b"></td><td class="KggPSb">13</td><td>23.482</td><td>R$&nbsp;30,00</td></tr><tr class="TElGnb" data-index="3"><td class="DhiO9b"></td><td class="KggPSb">12</td><td>228.747</td><td>R$&nbsp;12,00</td></tr><tr class="TElGnb" data-index="4"><td class="DhiO9b"></td><td class="KggPSb">11</td><td>1.089.954</td><td>R$&nbsp;6,00</td></tr></tbody>

In [14]:
elementos_resultados = navegar.find_elements("class name", "KggPSb")

In [15]:
elementos_resultados

[<selenium.webdriver.remote.webelement.WebElement (session="3999aa90820fe5dc909f76539b460a70", element="616C9BD9C35629DD913E209821CAF96E_element_99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3999aa90820fe5dc909f76539b460a70", element="616C9BD9C35629DD913E209821CAF96E_element_100")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3999aa90820fe5dc909f76539b460a70", element="616C9BD9C35629DD913E209821CAF96E_element_101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3999aa90820fe5dc909f76539b460a70", element="616C9BD9C35629DD913E209821CAF96E_element_102")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3999aa90820fe5dc909f76539b460a70", element="616C9BD9C35629DD913E209821CAF96E_element_103")>]

In [16]:
for item in elementos_resultados:
    print(item.text)

15
14
13
12
11

In [17]:
#pego a classe, novamente, que seleciona todos os índices
elementos_titulo_loto = navegar.find_elements("class name", "GzssTd")
for item in elementos_titulo_loto:
    print(item.text)
    titulo_tipo_loto= item.text

Lotofácil

In [18]:
#pego a classe, novamente, que seleciona todos os índices
elementos_titulo_numeracao = navegar.find_elements("class name", "qLLird")
for item in elementos_titulo_numeracao:
    print(item.text)
    numeracao_titulo_concurso_loto= item.text

Concurso 3060 (22/03/24)

In [19]:
print('valores sorteados')
print(titulo_tipo_loto,'≃>', numeracao_titulo_concurso_loto)
print(lista_valor_loto_sep[0][0:2], lista_valor_loto_sep[0][2:4], lista_valor_loto_sep[0][4:6], lista_valor_loto_sep[0][6:8], lista_valor_loto_sep[0][8:10], lista_valor_loto_sep[0][10:12])
print(lista_valor_loto_sep[1][0:2], lista_valor_loto_sep[1][2:4], lista_valor_loto_sep[1][4:6], lista_valor_loto_sep[1][6:8], lista_valor_loto_sep[1][8:10], lista_valor_loto_sep[1][10:12])
print(lista_valor_loto_sep[2][0:2], lista_valor_loto_sep[2][2:4], lista_valor_loto_sep[2][4:6], lista_valor_loto_sep[2][6:8], lista_valor_loto_sep[2][8:10], lista_valor_loto_sep[2][10:12])
print(f'O que aconteceu: {lista_valor_loto_sep[3]}')

valores sorteados
Lotofácil ≃> Concurso 3060 (22/03/24)
02 04 05 07 08
10 12 13 14 17
19 21 22 24 25
O que aconteceu: Acumulada próximo concurso: R$ 1.700.000,00

In [20]:
#coletar a tabela do site, de resultado

In [21]:
#xpath
element = navegar.find_element(By.XPATH, '//*[@id="tsuid_30"]/span/div/div/div/div/div[2]/div/div[2]/div/table')

html_content = element.get_attribute('outerHTML')

In [22]:
html_content

'<table class="y9lvr"><tbody><tr class="L3XRR q2K6Pe"><th class="DhiO9b"></th><th>Acertos</th><th>Vencedores</th><th>Prêmio</th></tr><tr class="TElGnb" data-index="0"><td class="DhiO9b"></td><td class="KggPSb">15</td><td>8</td><td>R$&nbsp;658.002,39</td></tr><tr class="TElGnb" data-index="1"><td class="DhiO9b"></td><td class="KggPSb">14</td><td>974</td><td>R$&nbsp;675,07</td></tr><tr class="TElGnb" data-index="2"><td class="DhiO9b"></td><td class="KggPSb">13</td><td>23.482</td><td>R$&nbsp;30,00</td></tr><tr class="TElGnb" data-index="3"><td class="DhiO9b"></td><td class="KggPSb">12</td><td>228.747</td><td>R$&nbsp;12,00</td></tr><tr class="TElGnb" data-index="4"><td class="DhiO9b"></td><td class="KggPSb">11</td><td>1.089.954</td><td>R$&nbsp;6,00</td></tr></tbody></table>'

In [23]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
    
soup = BeautifulSoup(html_content, 'html.parser')
table = soup.find_all('table')

# Supondo que 'table' seja o seu objeto ResultSet
# Extraia o conteúdo HTML da tabela
html_content = str(table)

In [24]:
html_content

'[<table class="y9lvr"><tbody><tr class="L3XRR q2K6Pe"><th class="DhiO9b"></th><th>Acertos</th><th>Vencedores</th><th>Prêmio</th></tr><tr class="TElGnb" data-index="0"><td class="DhiO9b"></td><td class="KggPSb">15</td><td>8</td><td>R$\xa0658.002,39</td></tr><tr class="TElGnb" data-index="1"><td class="DhiO9b"></td><td class="KggPSb">14</td><td>974</td><td>R$\xa0675,07</td></tr><tr class="TElGnb" data-index="2"><td class="DhiO9b"></td><td class="KggPSb">13</td><td>23.482</td><td>R$\xa030,00</td></tr><tr class="TElGnb" data-index="3"><td class="DhiO9b"></td><td class="KggPSb">12</td><td>228.747</td><td>R$\xa012,00</td></tr><tr class="TElGnb" data-index="4"><td class="DhiO9b"></td><td class="KggPSb">11</td><td>1.089.954</td><td>R$\xa06,00</td></tr></tbody></table>]'

In [25]:
# Agora, use pd.read_html para ler a tabela
df2 = pd.read_html(html_content, flavor='html5lib')
display(df2)
Basedados = pd.DataFrame(df2[0])

/tmp/ipykernel_32068/1479970149.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2 = pd.read_html(html_content, flavor='html5lib')

[   Unnamed: 0  Acertos Vencedores         Prêmio
 0         NaN       15          8  R$ 658.002,39
 1         NaN       14        974      R$ 675,07
 2         NaN       13     23.482       R$ 30,00
 3         NaN       12    228.747       R$ 12,00
 4         NaN       11  1.089.954        R$ 6,00]

In [26]:
display(Basedados)
Basedados_2= Basedados.drop(['Unnamed: 0'], axis=1)
display(Basedados_2)

   Unnamed: 0  Acertos Vencedores         Prêmio
0         NaN       15          8  R$ 658.002,39
1         NaN       14        974      R$ 675,07
2         NaN       13     23.482       R$ 30,00
3         NaN       12    228.747       R$ 12,00
4         NaN       11  1.089.954        R$ 6,00

   Acertos Vencedores         Prêmio
0       15          8  R$ 658.002,39
1       14        974      R$ 675,07
2       13     23.482       R$ 30,00
3       12    228.747       R$ 12,00
4       11  1.089.954        R$ 6,00

In [27]:
print('valores sorteados')
print(titulo_tipo_loto,'≃>', numeracao_titulo_concurso_loto)
print(lista_valor_loto_sep[0][0:2], lista_valor_loto_sep[0][2:4], lista_valor_loto_sep[0][4:6], lista_valor_loto_sep[0][6:8], lista_valor_loto_sep[0][8:10], lista_valor_loto_sep[0][10:12])
print(lista_valor_loto_sep[1][0:2], lista_valor_loto_sep[1][2:4], lista_valor_loto_sep[1][4:6], lista_valor_loto_sep[1][6:8], lista_valor_loto_sep[1][8:10], lista_valor_loto_sep[1][10:12])
print(lista_valor_loto_sep[2][0:2], lista_valor_loto_sep[2][2:4], lista_valor_loto_sep[2][4:6], lista_valor_loto_sep[2][6:8], lista_valor_loto_sep[2][8:10], lista_valor_loto_sep[2][10:12])
print(f'O que aconteceu: {lista_valor_loto_sep[3]}')
display(Basedados_2)

valores sorteados
Lotofácil ≃> Concurso 3060 (22/03/24)
02 04 05 07 08
10 12 13 14 17
19 21 22 24 25
O que aconteceu: Acumulada próximo concurso: R$ 1.700.000,00

   Acertos Vencedores         Prêmio
0       15          8  R$ 658.002,39
1       14        974      R$ 675,07
2       13     23.482       R$ 30,00
3       12    228.747       R$ 12,00
4       11  1.089.954        R$ 6,00